<%= form_tag apartments_path, method: :get, class: "form-index" do %>
  <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a location" %>
  <%= submit_tag "Search", class: "btn btn-primary btn-index" %>
<% end %>


<div class="card-index-supremo mb-3">
          <% @apartments.each do |apartment| %>
            <%= link_to apartment_path(apartment) do %>
              <div class="card-index">
               <%= image_tag apartment.photo_url %>
                <div class="card-index-text">
                  <p><strong><%= apartment.title %></strong></p>
                  <p class="address"> <%= apartment.address %></p>
                  <p class="city"> <%= apartment.city %></p>
                  <div class= "price-supremo">
                    <p class="price"> <strong> <%= apartment.price %> </strong></p>
                  </div>
                </div>
              </div>
            <% end %>
        <% end %>
  </div>
