<h3>Hi <%= current_user.first_name %> </h3>
<p>here your reservations:</p>

  <div class="card-index-supremo p-3 justify-content-space-between">
          <% @reservations.each do |x| %>
              <div class="card-index">
                <%= image_tag x.apartment.photo_url %>
                <div class="card-index-text">
                  <p><strong><%= x.apartment.title %></strong></p>
                  <p class="address"> <%= x.apartment.address %></p>
                  <p class="city"> <%= x.apartment.city %></p>
                  <br>
                  <p class="reserveddates"> This apartment is reserved from <%= x.date_in %> through <%= x.date_out %></p>
                  <br>

                  </div>
                  </div>
                  <div class="text-left">
                  <%= link_to("Review your stay", new_reservation_review_path(x), class: "btn-review btn-primary mb-3")  %>
                  </div>
            <% end %>
  </div>




