  <div class= "form">
    <h1>New Apartment</h1>
      <%= simple_form_for [@apartment] do |form| %>
        <%= form.input :title %>
        <%= form.input :address %>
        <%= form.input :city %>
        <%= form.input :price %>
        <%= form.input :photo %>
        <%= form.input :photo_cache, as: :hidden  %>
        <%= form.submit 'Add apartment', class: "btn btn-primary" %>
      <% end %>
  </div>
