<div class='container d-flex justify-content: flex-start'>
  <div class="card-product">
    <h1 class="show-title"><%= "Beautiful apartment in #{(@apartment.address).split(" ")[-1]}" %></h1>
    <section class= "pictures-section">
      <div class="main-picture"><%= image_tag @apartment.photo_url %></div>
      <div class= "small-pictures">
        <div class="photo1"></div>
        <div class="photo2"></div>
        <div class="photo3"></div>
        <div class="photo4"></div>
      </div>
    </section>
    <section class= "description-and-booking-section">
      <div class="apt-description-section">
        <p><strong>Entire apartment hosted by Marco & Abu</strong></p>
        <p>2 guests · 1 bedroom · 1 bed · 1 bath</>
          <hr>
          <p>Entire home</p>
          <p>You’ll have the apartment to yourself.</p>
          <p>Sparkling clean</p>
          <p>10 recent guests said this place was sparkling clean.</p>
          <p>Entire home</p>
          <p>You’ll have the apartment to yourself.</p>
          <p>Sparkling clean</p>
          <p>10 recent guests said this place was sparkling clean.</p>
          <hr>
          <p>CHIC & QUIET APARTMENT. Located within the hip and trendy Navigli area, this house is being named as La Casa Segreta for its cozy and intimate one-bedroom apartment perched in the attic of an 1910’s historic residential building which till recently served as the private sanctuary of the hosts</p>
          <br>
          <p>Any questions for the host?</p>
          <a class="btn btn-ghost-show" href="#">Contact host</a>
          <hr>
          <p>Sleeping arrangments</p>
          <a class="btn btn-ghost-show" href="#">1 double bed</a>
          <br>
          <hr>
          <h2>Amenities</h2>
          <div class="amenities-wrapper">
            <div>Hair dryer</div>
            <div>Wifi</div>
            <div>Iron</div>
            <div>Laptop friendly workspace</div>
            <div>Washer</div>
          </div>
        </div>
        <hr>
        <div class="booking-mask-section">
          <h2><%= @apartment.price %></h2>
          <!--       <p>Dec 3 - 5 is no longer available</p> -->
          <br>
          <div class="buttons-mask-section">
            <!--     <a class="btn btn-flat-show" href="#">Reserve</a> -->
            <%= link_to "Reserve", new_apartment_reservation_path(@apartment) %>
            <!-- <a class="btn btn-ghost-show" href="#">25% off for Dec 2 - 5
            Book within the next 31 hours to get this special offer.</a> -->
          </div>
        </div>
      </section>
      <hr>
      <!--   <section class="reviews-section"> -->
      <h2>Reviews</h2>
      <div class="reviews-wrapper">
        <% @apartment.reviews.each do |rev| %>
        <p><%= "Rating: #{rev.rating} stars" %></p>
        <br>
        <p><%= "Comment: #{rev.content}" %></p>
        <%end  %>
      </div>
<hr>
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<!--       <div class="review">this location was perfect for use of public transport to get to City center but was nicely removed from all of the chaos. Walking distance to Navigli for great atmosphere, drinks,… read more</div>
      <div class="review">So we stayed at the apartment for almost 2 weeks. And most of the stay was pretty good. There might be an issue if you are a tall person, you will have to bend all the time to prev… read more</div>
      <div class="review">Honestly one of the best Airbnb’s I have ever stayed in! The hosts were very generous and helpful and the apartment was so cute and clean! The location was great (and safe) and suc… read more</div>
    </div>
    <a class="btn btn-ghost-show" href="#">View other 134 reviews.</a>
  </section>
  <hr>
  <section class="map-section">
  </section>
  <hr>
  <section class="calendar-section">
    <div class="calendar-wrapper">
      <div class="recap-date">Was a great place to stay for a week. Definitely listen to their suggestion about height, the ceilings are quite low, but that is warned in their listing. Not a large apartment, bu… read more</div>
      <div class="calendar-clickable">this location was perfect for use of public transport to get to City center but was nicely removed from all of the chaos. Walking distance to Navigli for great atmosphere, drinks,… read more</div>
    </div>
  </section>
  <hr>
  <section class= "things-to-know-section">
    <div class="things-to-know-wrapper">
      <div class="house-rules">Was a great place to stay for a week. Definitely listen to their suggestion about height, the ceilings are quite low, but that is warned in their listing. Not a large apartment, bu… read more</div>
      <div class="cancellation-policy">this location was perfect for use of public transport to get to City center but was nicely removed from all of the chaos. Walking distance to Navigli for great atmosphere, drinks,… read more</div>
    </div>
  </section> -->
 <!--  <hr>
  <section class="more-places-to-stay-section">
   <div class="places-to-stay-section-cards-wrapper">
    <div class="places-to-stay-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
     Apt 1
    </div>
    <div class="places-to-stay-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
     Apt 2
    </div>
    <div class="places-to-stay-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
     Apt 3
    </div>
  </div>
 </section>
 <hr>
 <section class="footer-show">Place footer here</section> -->
